*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    font-family: Raleway, sans-serif;
    height: 100%;
  min-width: 800px;
  z-index: 1;
  background-color: #fec7ee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0 auto;
  padding: 0;
}
